extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  form(action='/add/newpoi' method='post')
    fieldset
      .form-group.row
        label.col-sm-1.col-form-label(for='poiname') POI Name
        .col-sm-4
          input#name.form-control(type='text' name="poiname")
      .form-group.row
        label.col-sm-1.col-form-label(for='coordinates-long') Longitude
        .col-sm-4
          input#long.form-control(type='text' name="long")
      .form-group.row
        label.col-sm-1.col-form-label(for='coordinates-lat') Latitude
        .col-sm-4
          input#lat.form-control(type='text' name="lat")
      button.btn.btn-primary.mb-2(type='submit') Speichern
  #map

  block scripts 
    script(src="/javascripts/add_poi.js" defer)