extends layout

block content
  h1= title
  p Anleitung: Bevor die Route berechnet werden kann, muss der eigene Standort bestimmt und ein Gebirge ausgewählt werden.
  br
  h2 Startpunkt
  input#location(type="submit", name="location", value="Standort bestimmen")
  input#longLocation(type="text" readonly)
  input#latLocation(type="text" readonly)

  br
  br
  h2 Ziel
  #map
  br
  form(action='/edit/update_mountain' method='post')
    fieldset
      .form-group.row
        label.col-form-label(for='mountain') Name
        .col-sm-4
          input#mountain.form-control(type='text' name="mountain" readonly)
      .form-group.row
        label.col-form-label(for='long') Longitude
        .col-sm-4
          input#long.form-control(type='text' name="long" readonly)
      .form-group.row
        label.col-form-label(for='lat') Latitude
        .col-sm-4
          input#lat.form-control(type='text' name="lat")
  input#route(type="submit", name="route", value="Route berechnen")
  br
  h2 Route
  #mapRoute


  script. 
    let geojson = !{JSON.stringify(data)}

  block scripts 
    script(src="/javascripts/direction_mountain.js" defer)