extends layout

block content
  h1= title
  p App entwickelt von Hendrik Lüning und Robert Schmitz.
  br
  #tableimpr
    table 
      tr
        td 
          table#imprTABLE
            tr
              td#imprTD  Hendrik Lüning 
            tr 
              td#imprTD  Austenfeld 3
            tr 
              td#imprTD  33449 Langenberg 
            tr 
              td#imprTD  hluening@uni-muenster.de
        td  
          table#imprTABLE
            tr 
              td#imprTD  Robert Schmitz 
            tr
              td#imprTD   Peter Rosegger Weg 39a
            tr
              td#imprTD  48155 Münster
            tr 
              td#imprTD  rschmit1@uni-muenster.de
        
    