extends layout

block content
  h1= title
  p App entwickelt von Hendrik L端ning und Robert Schmitz.

  br

  ul
    li Hendrik L端ning 
    li Austenfeld 3
    li 33449 Langenberg 
    li hluening@uni-muenster.de

  br

  ul
    li Robert Schmitz
    li Peter Rosegger Weg 39a
    li 48155 M端nster 
    li rschmit1@uni-muenster.de

  br
  br
  p Vorstand
  ul
    li Hendrik L端ning 
    li Robert Schmitz

        
    