extends layout 


block content
  h1= title
  br
  #map
  br
  #table-wrapper
  table#table
   tr 
    th ID
    th name
    th height
    th URL 
    th description

    

  script. 
    let geojson = !{JSON.stringify(data)}

  block scripts 
    script(src="/javascripts/show_mountain.js" defer)