extends layout 


block content
  h1= title
  p Durch einen Klick auf die Tabelle, wird das in der Zeile befindliche Gebirge auf der Karte hervorgehoben.
  br
  #map
  br
  #table-wrapper
  table#table
   tr 
    th ID
    th name
    th height
    th URL 
    th description

    

  script. 
    let geojson = !{JSON.stringify(data)}

  block scripts 
    script(src="/javascripts/show_mountain.js" defer)