extends layout 


block content
  h1= title
  p Welcome to #{title}
  #map

  script. 
    let geojson = !{JSON.stringify(data)}

  block scripts 
    script(src="/javascripts/show_mountain.js" defer)