extends layout

block content
  h1= title
  p Diese Website ist eine karten-basierte, interaktive Webanwendung zum Hinzufügen und zur Suche von Gebirgen in Europa. Sie umfasst das Hinzufügen, Bearbeiten, Löschen und Anzeigen von Gebirgen. Ebenso eine Navigationsfuntkion zu den entsprechenden Gebirgen.
  br
  br
  h2 Hinzufügen 
  p Hier können Sie auf drei verschiedene Weisen Gebirge Ihrer Wahl zur Anwendung hinzufügen. Beginnend können Sie Ihr Gebirge im GeoJSON-Format in ein Textfeld einfügen und hinzufügen. Zweitens können Sie Ihr vor kurzem erstelltes Gebirge im GeoJSON-Format als .geojson-Datei hochladen. Zuletzt können Sie Ihr Gebirge mithilfe von Eingabefeldern und einer Leaflet-Karte hinzufügen.
  br

  h2 Bearbeiten
  p Unter Gebirge bearbeiten können Sie die hinzugefügten Gebirge anpassen. Sie können die Attribute sowie die Koordinaten anpassen, aber diese auch direkt löschen.
  br

  h2 Anzeigen
  p Damit Sie sich ihre hinzugefügten Gebirge auch ansehen können, ist es hier möglich Gebirge aus einer Tabelle auf der Karte hervorzuheben.
  br

  h2 Navigation
  p Hier können Sie sich eine Route zu einem Gebirge anzeigen lassen. Dafür einfach den eigenen Standort abfragen, ein Gebirge auswählen und die Route berechnen lassen.
  br