body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
  height: 500px;
  width: 70%;
}

#mapRoute{
  height: 500px;
  width: 70%;
}

#table-wrapper{
  display: flex;
}


#table{
  width: 70%;
  border: 2px solid black;
  border-collapse: collapse;
  
}
th{
    text-align: left;
    border: 1px solid black;  
    background-color: aqua;
  }
  td{
    text-align: left;
    border: 1px solid black;
  }