@media (max-width: 970px) {
  body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  #map {
    height: 400px;
    width: 80%;
  }

  #mapRoute {
    height: 400px;
    width: 80%;
  }
}

@media (min-width: 970px) {
  body {
    padding: 50px;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  #map {
    height: 600px;
    width: 80%;
  }

  #mapRoute {
    height: 600px;
    width: 80%;
  }

  #navbar-header{
    float: left;
  }
}

.navbar{
  background-color: gainsboro;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item{
  padding-top: 15px;
  padding-left: 15px;
  list-style-type: none;
}


/*------------------------------------------------------------------*/



#table-wrapper {
  display: flex;
  }


#showtable {
  width: 70%;
  border: 2px solid black;
  border-collapse: collapse;
}


  th {
    text-align: left;
    border: 1px solid black;
    background-color: gainsboro;
    }
  
   td {
    text-align: left;
    text-align: top;
    border: 1px solid black;
   }
  
  tr:hover {
    background-color: aliceblue;
   }

   #imprTABLE {
    border: 1px solid blue;
    border-collapse: collapse;

   }

   #imprTD{
    border: 1px white;
    margin-left: 50px;
   }
